.logo{
    position:absolute;
    margin:0;
    padding:1rem;
    float:none;
    width:100%;
    text-align:right;
}
.logo img{
    height:35px;
}
/* formatting heading */
#home{
    background-image: url(../images/mobHomebg.png);
}
.heading{
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-size:2rem;
    height:100vh;
}
.head1{
    font-size:32px;
    font-weight:400;
}
.head2{
    font-size:48px;
    font-weight:1000;
    line-height:0;
    margin-bottom:1rem;
}

#result .heading{
    padding:0;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2rem;
}
#result-2 .heading{
    padding:0;
}
.container{
    height:fit-content;
}
#result .head1{
    font-size:2rem;
    text-shadow:2px 2px white;
    color:#A45EF5;
}
#result .head2{
    font-size:2rem;
    line-height:normal;
}
#result .desc1{
    font-size:25px;
    line-height:0;
}
.desc2{
    /* margin-top:2rem; */
    font-size:20px;
}

/* socials need to be center aligned and white */
.socials{
    width:100%;

    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    bottom:2px;
}
.socials i{
    color:white;
    margin:5px;
    font-size:1rem;
}

.socials-2{
    margin:0;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    bottom:9px;
    width:100%;
}
.socials-2 i{
    margin:5px;
    font-size:1rem;
}
.socials-3{
    margin:0;
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    bottom:9px;
    width:100%;
}
.socials-3 i{
    margin:5px;
    font-size:1rem;
}

/* formatting input table */
.regnumInputContainer{
    width:auto;
}
.regnumInput{
    width:300px;
    padding:0.5rem;
    font-size:1.3rem;
}
/* checkBtn styling */
.checkBtnContainer .a{
    font-size:1rem;
}
/* results page formatting */
#result{
    background-image: url(../images/Homebg.png);
    margin:0;
    padding:0;
}
#result-2 .heading .desc2{
    font-size:1.8rem;
}
#result-2{
    background-image: url(../images/Homebg.png);   
}